@model IEnumerable<GestaoDeEstoque.Models.Fornecedor>

@{
    ViewData["Title"] = "Lista de Fornecedores";
}

<h1>Lista de Fornecedores</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-plus"></i>&nbsp;Adicionar Fornecedor</a>
</p>
<table id="tabela" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
                <td class="d-flex justify-content-end align-content-center align-items-center gap-1">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa-regular fa-pen-to-square"></i>&nbsp;Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i>&nbsp;Apagar</a>
            </td>

        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $("#tabela").DataTable({
            language: {
                url:"lib/datatables/pt_br.json"
            },
        });
    </script>
}