@model GestaoDeEstoque.Models.TipoProduto

@{
    ViewData["Title"] = "Editar Tipo de Produto";
}

<h1>Editar</h1>

<h4>Tipo de Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                @* <input type="submit" value="Save" class="btn btn-primary" /> *@
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i>&nbsp;Editar</button>            
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à Lista de Tipos de Produto</a>
</div>

@section Scripts {
    <script>
        const mensagem = "@ViewData["Mensagem"]";
        if (mensagem != "")
        {
            Swal.fire({
                title: "Alterado!",
                text: "O tipo de Produto foi alterado com sucesso!!",
                icon: "success"
            }).then(willRedirect => {
                window.location.href = '@Url.Action("Index", "TipoProduto")';
            });;
        }
    </script>
}